

*.log
*.dat
*.suo
*.docstates
*.user
4.Realize/Src/GradeGrinder/bin/
4.Realize/Src/GradeGrinder/*/bin/
obj/
4.Realize/Src/GradeGrinder/_Resharper.GradeGrinder/*
*.vs10x
*.*~
README~

4.Realize/Src/GradeGrinder/GradeGrinder.Installer/Debug/*
4.Realize/Src/GradeGrinder/GradeGrinder.Installer/Release/*
